<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Wizard</title>
</head>
<body>
     <form method="POST" enctype="multipart/form-data">
        <p>Wizard Name</p>
         <input type="text" value="{{ wizard.name }}" name="wizard_name">
         <p>Wizard Age</p>
         <input type="number" value="{{ wizard.age }}" name="wizard_age">
         <p>Current House : {{ current_house }}</p>

        <select name="wizard_house">
            <option value="">Choose an option</option>
            {% for house in houses %}
            <option value="{{ house.id }}">{{ house.name }}</option>
            {% endfor %}
        </select>

    <input type="hidden" value="{{wizard.id}}" name="wizard_id">
        <input type="submit" value="send">
     </form>
</body>
</html>